body{
    margin: 0;
    font-family: 'titillium Web',sans-serif;
}

#section-1{
    background-color: blueviolet;
    height: 600px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    padding: 10px 16px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li.active{
    background-color: #643a78;
    border-radius: 5px;
}

.main-heading{
    margin-top: 148px;
    text-align: center;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}

.main-heading a{
    text-decoration: none;
    background-color: #eb7d4b;
    font-size: 18px;
    border-radius: 5px;
    padding: 25px 85px;
    color:white;
}
#section-2{
    background-color: #17c2a4;
    min-height: 745px;
    color: white;
}

.title-box{
    text-align: center;
    max-width: 609px;
    margin-left: auto;
    margin-right: auto;
}
.title-box h2{
     margin-top: 0;
     margin-bottom: 10px;
     padding-top: 100px;
     font-size: 40px;
     font-weight: bold;
}

.title-box .line{
    width: 87px;
    height: 4px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

.service-box{
     margin-top: 80px;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
}

.service{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}

.service p{
    font-size: 16px;
     line-height: 26px;     
}

#section-3{
    background-color: #3c5499;
    min-height: 820px;
    color: white;
}

#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.form-row{
    display: flex;
}

input[type="text"],input[type="email"]{
    width: 46%;
    height: 56px;
}

input[type="text"],input[type="email"],textarea{
    font-family: 'titillium Web',sans-serif;
    color: white;
    background-color: #273a71;
    border:none;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 26px;
}

textarea{
    height: 200px;
    width: 100%;
    padding-top: 24px;
}

input[type="sumbit"]{
    background-color: none;
    border: none;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
    padding: 25px 85px;
    color: white;
}

footer{
    background-color: #3c5499;
}

.footer-links{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer ul{
    margin:0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-links ul li{
    display: inline-block;
    padding: 10px 20px;
}

.footer-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px; 
}

header img{
    width: 117px;
    height: 37px;
}

@media only screen and (max-width:800px){
    header{
        flex-direction: column;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    header img{
        margin-left: auto;
        margin-right: auto;
    }

    .main-heading h1{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-heading a{
        font-size: 13px;
        padding: 25px;
    }

    .main-heading{
        margin-top: 0;
    }

    nav ul li.active{
        padding-right: 0;
    }

    nav ul{
        padding-left: 0;

    }

    .service{
        width: 100%;
    }

    .service-box{
        flex-direction: column;
    }

    .title-box{
        width: 100%;
    }

    .form-row{
        flex-direction: column;
    }

    input[type="text"],input[type="email"],textarea{
    
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }

    footer ul{
        flex-direction: column;
    }

    



}


