@media (min-width:600px){
    body{
        background: #808094;
        color: white;
    }
}

@media all and (max-width:600px){
    body{
        background: #808094;
        color: white;
    }
}

h1{
    border: 2px solid white;
    padding: 20px;
}

@media all and (orientation: landscape){
    h1{
        font-size: 80px;
    }
}

@media all and (orientation: portrait){
    h1{
        font-size: 30px;
    }
}

@media(min-width:600px){
    p{
        column-count: 2;
    }
}